DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_REDIRECT_URI=http://127.0.0.1:5173/api/auth/discord/callback
MONGODB_URI=mongodb+srv://jw7914_db_user:<db_password>@cluster0.orfd0et.mongodb.net/?appName=Cluster0